.container {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.text {
  font-size: 12px;
}

.objective {
  visibility: hidden;
  margin-right: 10px;
  display: block;
}

.pokExpansion {
  display: block;
  cursor: pointer;
}

.pokExpansion input {
  display: none;
}

.objective:before {
  cursor: pointer;
  display: inline-block;
  visibility: initial;
  width: 20px;
  height: 20px;
  border-radius: 10px;

  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.objective:not(:checked):before {
  background-color: #cfd0d1;
}

.public1:before {
  background-color: #ecb96a;
  content: "I";
}

.public2:before {
  background-color: #237aaf;
  content: "II";
}

.secret:before {
  background-color: #d04a49;
  content: "S";
}

.clear {
  outline:none;
  cursor: pointer;
  font-size: 20px;
  background-color: none;
  border: none;
}
